* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


.top {
	width: 100%;
	padding: 20px 20% 20px 20%;
	/*background-color: red;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact h3 {
	background-color: red;
	padding: 7px;
	border-radius: 5px;
	color: white;
}

.contact p {
	margin-left: 20px;
}

nav {
	padding: 10px 20% 10px 20%;
	
}

.contNav {
	box-shadow: 1px 5px 8px #d5d5d5;
	display: flex;
	border-radius: 10px;
}

.navIzq {
	background-color: red;
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.navIzq p {
	color: white;
	font-weight: bold;
}

.navDer {
	background-color: #224271;
	width: 100%;
	padding: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}

.navDer p {
	color: white;
	font-weight: bold;
}

main {
	width: 100%;
	padding: 50px 20% 0px 20%;
}

.imagenPrincipal {
	margin-top: 50px;
	margin-bottom: 50px;
	/*background-color: red;*/
}

.imagenPrincipal img {
	display: block;
	margin: auto;
}

main h2 {
	margin-bottom: 20px;
}

main h4 {
	margin-bottom: 20px;
}

main p {
	line-height: 1.5;
}

footer {
	width: 100%;
	padding: 40px 20% 40px 20%;
	background-color: #224271;
	margin-top: 30px;
}

.contTextFooter {
	/*background-color: red;*/
	width: 100%;
}

.contTextFooter h2 {
	text-align: center;
	color: white;
}

.contTextFooter p {
	text-align: center;
	margin-top: 20px;
	color: white;
}

@media screen and (max-width: 748px){

	.contNav {
		flex-direction: column;
	}

	.navIzq {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0px;
	}

	.navDer {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.top {
		flex-direction: column;
		align-items: flex-start;
	}

	.contact  {
		margin-top: 20px;
	}

}

@media screen and (max-width: 1128px) {

	nav {
	padding: 10px 5% 10px 5%;

	}

	.top {
	width: 100%;
	padding: 20px 5% 20px 5%;
	}

	main {
		padding: 20px 5% 20px 5%;
	}
	
	footer {
	width: 100%;
	padding: 20px 20% 20px 20%;
	}
}